footer {
	background-color: $grey;
	border-top: solid 8px $blue;
	padding: 1%;

	ul {
		list-style-type: none;
		text-align: center;
		padding: 0;
	}

	li {
		display: inline-block;
		width: 24%;

		@media (max-width: $small) {
			width: 49%;
			padding-top: 2%;
			padding-bottom: 2%;
			margin: 0 auto;
		}

		img {
			display: block;
			margin: 10% auto;
		}

		a {
			color: $blue;
			display: inline-block;
			padding: 5%;
			text-decoration: none;

			@media (max-width: $small) {
				padding: 5%;
			}
		}
	}
}
