@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Satisfy");

$purple: #703053;
$lt-purple: #8e5575;
$blue: #93b7be;
$grey: #2a2e38;

$medium: 900px;
$small: 600px;

body {
	font-family: "Lato", sans-serif;
	color: $grey;

	main {
		padding: 1% 5%;
	}

	h1,
	h2 {
		font-family: "Satisfy", cursive;
	}

	h2 {
		color: $purple;
		font-size: 3rem;

		@media (max-width: $medium) {
			font-size: 2rem;
		}

		@media (max-width: $small) {
			font-size: 1.5rem;
		}
	}

	a {
		color: $lt-purple;
	}

	p {
		font-size: 1.25rem;

		@media (max-width: $medium) {
			font-size: 1rem;
		}
	}
}

@import "header";
@import "body";
@import "footer";
